@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-[20px] py-[5px] rounded-full font-medium text-[14px] sm:text-[16px]
}

.btn-primary {
    @apply bg-gradient-to-r from-blue-600 to-indigo-500 hover:bg-gradient-to-r hover:from-blue-500 hover:to-indigo-600 text-white duration-75 active:scale-95
}

.iiz {
  min-height: 100%;
  display: flex !important;
  border-radius: 4.5px;
}

.iiz div {
  min-height: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-width: 100% !important;
}

.iiz div img {
  object-fit: contain;
  max-height: 430px;
  min-height: 300px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c6c6c6;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #929292;
  }
